<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Khan_Academy/area.css">
    <title>Área</title>
</head>

<body>
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/">Calculadora</a>
                </li>
                <li class="dropdown">
                    <a href="">Khan Academy</a>
                    <div class="menu_dropdown">
                        <a href="/Area">Área</a>
                        <a href="/pitagoras">pitagoras</a>
                        <a href="">Bhaskara</a>
                    </div>
                </li>
            </ul>
    </div>
    <div class="body">
        <tr>
            <form action="/Area" method="post">
                <div class="organization_quadrate">
                    <div class="shape1"></div>
                    <input class="baixo" type="text" name="side" placeholder="Lado">
                </div>
            </form>
            <form action="/Area" method="post">
                <div class="shape2">
                    <div class="radius"></div>
                    <input class="baixo" type="text" name="radius" placeholder="Raio">
                </div>
            </form>
            <form action="/Area" method="post">
                <div class="organization_triangle">
                    <div class="shape3">
                        <div class="heigth"></div>
                        <input class="baixo" type="text" name="heigth_triangle" placeholder="Altura">
                    </div>
                    <input class="baixo" type="text" name="base_triangle" placeholder="Base">
                </div>
            </form>
            </tr>
        </div>
        <div class="body">
            <tr>
                <form action="/Area" method="post">
                    <div class="organization_triangle">
                        <div class="shape4">
                            <div class="heigth"></div>
                            <input class="baixo" type="text" name="heigth_trapezoid" placeholder="Altura">                    
                        </div>
                        <input class="baixo" type="text" name="base_trapezoid" placeholder="Base">
                    </div>
                </form>
                <form action="/Area" method="post">
                    <div class="organization_rectangle">
                        <div class="shape5"></div>
                        <input class="baixo" type="text" name="heigth_rectangle" placeholder="Altura">                    
                        <input class="baixo" type="text" name="base_rectangle" placeholder="Base">
                    </div>
                </form>
                <form action="/Area" method="post">
                    <div class="organization_diamond">
                        <div class="shape6">
                            <div class="line-vertical"></div>
                            <div class="line-horizontal"></div>
                            <input class="baixo input-heigth" type="text" name="heigth_diamond" placeholder="Altura">
                            <input class="baixo input-width" type="text" name="width_diamond" placeholder="Largura">
                        </div>
                    </div>                
                </form>
        </tr>
    </div>
</body>

</html>