<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Khan_Academy/area.css">
    <title>Área</title>
</head>
<body>
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/">Calculadora</a>
                </li>
                <li class="dropdown">
                    <a href="">Khan Academy</a>
                    <div class="menu_dropdown">
                        <a href="/Area">Área</a>
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="">Formulas Farmacêuticas</a>
                    <div class="menu_dropdown">
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="">Formulas Financeiras</a>
                    <div class="menu_dropdown">
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="body">
            <tr>
                <div class="shape1"></div>
                <div class="shape2" ></div>
                <div class="shape3" ></div>
            </tr>
        </div>
        <div class="body">
            <tr>
                <div class="shape4"></div>
                <div class="shape5"></div> 
                <div class="shape6"></div> 
            </tr>
        </div>
</body>
</html>