<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Khan_Academy/formulas.css">
    <title>Área</title>
</head>

<body>
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/">Calculadora</a>
                </li>
                <li class="dropdown">
                    <a href="">Khan Academy</a>
                    <div class="menu_dropdown">
                        <a href="/Area">Área</a>
                        <a href="/pitagoras">pitagoras</a>
                        <a href="/formulas">Bhaskara</a>
                    </div>
                </li>
            </ul>
    </div>
    <div class="body">
        <tr>
            <div>
                <td>
                    <input type="text" placeholder="A">
                    <input type="text" placeholder="B">
                    <input type="text" placeholder="C">
                    <button>=</button>
                    <input type="text" placeholder="resposta">
                </td>
            </div>
            <div>
                <td>
                    <input type="text" placeholder="A">
                    <input type="text" placeholder="B">
                    <button>=</button>
                    <input type="text" placeholder="resposta">
                </td>
            </div>
            <div>
                <td>
                    <input type="text">
                </td>
            </div>
        </tr>
    </div>

</body>
</html>