*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

body{
    background-image: linear-gradient(45deg, rgb(1, 153, 255), rgb(0, 8, 124)) ;
}

.nav{
    background-color: #1d1d1d;
}

.nav li{
    display: inline-block;
}

.nav li a{
    display: inline-block;
    color: #ffffff;
    padding: 15px;
}

.nav li a:hover{
    background-color: #000;
}

.menu_dropdown{
    position: absolute;
    box-shadow: 0 0 2px #000;
    display: none;
}

.menu_dropdown a{
    display: block;
    color: #000;
}

.dropdown:hover .menu_dropdown{
    display: block;
}

.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.calculadora{
    height: 405px;
    width: 299px;
    border-radius: 5%;
    background-color: #1d1d1d;
}

.scientific_calculator{
    height: 420px;
    width: 507px;
    border-radius: 5%;
    background-color: #1d1d1d;
}

.titulo h1{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-top: 3px;
    text-align: center;
}

.button{
    margin-left: 6px;
}

.button_scientific{
    margin-left: 6px;
}

.button input{
    font-size: larger;
    text-align: right;
    color: #000;
    margin: 5px;
    border-radius: 5%;
    height: 20px;
    width: 90%;
    outline: none;
}

.button_scientific input{
    font-size: larger;
    text-align: right;
    color: #000;
    margin-left: 13px;
    margin-bottom: 8px;
    margin-top: 5px;
    border-radius: 5%;
    height: 20px;
    width: 90%;
    outline: none;
}

.butao{
    background-color: #7a7a7a;
    font-size:x-large;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    width: 65px;
    height: 60px;
    align-items: center;
}