<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculadora</title>
    <link rel="stylesheet" href="static/calculator.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
</head>

<body>
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/">Calculadora</a>
                </li>
                <li class="dropdown">
                    <a href="">Khan Academy</a>
                    <div class="menu_dropdown">
                        <a href="/Area">Área</a>
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="">Formulas Farmacêuticas</a>
                    <div class="menu_dropdown">
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="">Formulas Financeiras</a>
                    <div class="menu_dropdown">
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                        <a href="">Bhaskara</a>
                    </div>
                </li>
            </ul>
        </div>
    <div class="center">
    <div class="scientific_calculator">
        <div class="titulo">
            <h1>calculadora</h1>
        </div>
        <div class="button_scientific">
            <form method="post">
                <input type="text" name="display" value="{{ display }}" placeholder="0" readonly>
                <table>
                    <tr>
                        <td><button class="butao" name="button" value="CE">CE</button></td>
                        <td><button class="butao" name="button" value="raiz">√</button></td>
                        <td><button class="butao" name="button" value="fatorial">x!</button></td>
                        <td><button class="butao" name="button" value="%">%</button></td>
                        <td><button class="butao" name="button" value="(">(</button></td>
                        <td><button class="butao" name="button" value=")">)</button></td>
                        <td><button class="butao" name="button" value="del"><i class="bi bi-backspace"></i></button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" name="button" value="10**">10^x</button></td>
                        <td><button class="butao" name="button" value="**">x^y</button></td>
                        <td><button class="butao" name="button" value="**2">x²</button></td>
                        <td><button class="butao" name="button" value="7">7</button></td>
                        <td><button class="butao" name="button" value="8">8</button></td>
                        <td><button class="butao" name="button" value="9">9</button></td>
                        <td><button class="butao" name="button" value="/">÷</button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" name="button" value="abs">|x|</button></td>
                        <td><button class="butao" name="button" value="sen">sen</button></td>
                        <td><button class="butao" name="button" value="pi">π</button></td>
                        <td><button class="butao" name="button" value="4">4</button></td>
                        <td><button class="butao" name="button" value="5">5</button></td>
                        <td><button class="butao" name="button" value="6">6</button></td>
                        <td><button class="butao" name="button" value="*">x</button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" name="button" value="e">e</button></td>
                        <td><button class="butao" name="button" value="cos">cos</button></td>
                        <td><button class="butao" name="button" value="log">log</button></td>
                        <td><button class="butao" name="button" value="1">1</button></td>
                        <td><button class="butao" name="button" value="2">2</button></td>
                        <td><button class="butao" name="button" value="3">3</button></td>
                        <td><button class="butao" name="button" value="-">-</button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" name="button" value="mod">mod</button></td>
                        <td><button class="butao" name="button" value="tg">tg</button></td>
                        <td><button class="butao" name="button" value="in">in</button></td>
                        <td><button class="butao" name="button" value="0">0</button></td>
                        <td><button class="butao" name="button" value=".">,</button></td>
                        <td><button class="butao" name="button" value="=">=</button></td>
                        <td><button class="butao" name="button" value="+">+</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>