<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feira De ciências</title>
    <link rel="stylesheet" href="static/aa.css">
</head>
<body>
    <div class="calculadora">
        <div class="titulo">
            <h1 >calculdora</h1>
        </div>
        <div class="button">
                <input type="text" placeholder="0">
                <table>
                    <tr>
                        <td><button class="butao">x²</button></td>
                        <td><button class="butao">√</button></td>
                        <td><button class="butao">(</button></td>
                        <td><button class="butao">)</button></td>
                        <td><button class="butao" value="1"><-</button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" value="1">π</button></td>
                        <td><button class="butao" value="1">1</button></td>
                        <td><button class="butao" value="2">2</button></td>
                        <td><button class="butao" value="3">3</button></td>
                        <td><button class="butao" value="/">÷</button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" value="1">sen</button></td>
                        <td><button class="butao">4</button></td>
                        <td><button class="butao">5</button></td>
                        <td><button class="butao">6</button></td>
                        <td><button class="butao">x</button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" value="1">cos</button></td>
                        <td><button class="butao">7</button></td>
                        <td><button class="butao">8</button></td>
                        <td><button class="butao">9</button></td>
                        <td><button class="butao">-</button></td>
                    </tr>
                    <tr>
                        <td><button class="butao" value="1">tg</button></td>
                        <td><button class="butao">0</button></td>
                        <td><button class="butao">,</button></td>
                        <td><button class="butao">=</button></td>
                        <td><button class="butao">+</button></td>
                    </tr>
                </table>
        </div>
    </div>
</body>
</html>